
*{
  margin: 0;
  padding: 0;
}  

html {
  box-sizing: border-box;
  font-size: 16px;
}
html,
::after,
::before {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: ghostwhite
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-size: 1.8rem;
  padding: 20px 0;
}

p,
li,
a {
  color: rgb(128, 128, 128);
  line-height: 2;
}
/* Header styles */
#navbar {
  width: 300px;
  position: fixed;
  left: 0;
  border-right: 3px solid gray;
}

#navbar h1 {
  text-align: center;
}

#navbar li:last-of-type {
  border-bottom: none;
}
#navbar li:first-of-type {
  border-top: 2px solid gray;;
}

.nav-link{
  text-align: left;
  padding: 12px 25px;
  border-bottom: 2px solid gray;
  display: block;
}
.nav-link a {
  color: gray;
  text-decoration: none;
}

/* Main doc styles */

#main-doc {
  position: absolute;
  left: 300px;
  padding: 20px 20px 10px 40px;
}

p {
  padding-bottom: 20px;
}

ul{
  padding-left: 50px;
}

ul li {
  padding-bottom: 20px;
}