
*{
  margin: 0;
  padding: 0;
}  

html {
  box-sizing: border-box;
  font-size: 16px;
}
html,
::after,
::before {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-size: 1.7rem;
  padding: 20px 0;
  font-family: sans-serif;
}

/* Header styles */
#navbar {
  width: 300px;
  position: fixed;
  left: 0;
  border-right: 3px solid gray;
}

#navbar h1 {
  text-align: center;
}

#navbar li:last-of-type {
  border-bottom: none;
}
#navbar li:first-of-type {
  border-top: 2px solid gray;;
}

.nav-link{
  text-align: left;
  padding: 12px 25px;
  border-bottom: 2px solid gray;
  display: block;
}
.nav-link a {
  color: gray;
  text-decoration: none;
}

/* Main doc styles */

#main-doc {
  position: absolute;
  left: 300px;
  padding: 20px 20px 10px 40px;
}

p {
  padding-bottom: 20px;
}

#main-doc ul{
  padding-left: 50px;
}

#main-doc li {
  padding-bottom: 20px;
}

p,
#main-doc li{
  color: rgb(128, 128, 128);
  line-height: 2;
}

#codeblock {
  background-color: rgba(211, 211, 211, 0.237);
  padding: 10px 0 10px 15px;
  border-radius: 2px;
}

#codeblock p {
  padding-bottom: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* Responsive style */

@media only screen and (max-width: 800px){
  #navbar {
    position: absolute;
    width: 100%;
    top: 0; 
  }

  #navbar ul {
    height: 220px;
    overflow: scroll;
    border-bottom: 2px solid gray;
  }
  #main-doc {
    position: relative;
    top: 280px;
    left: 0;
  }
}